# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Weird apple files
*.DS_Store

# Temporary files
.workspace
.virtual_documents
venv

# Build FMU auxiliary files
Test_DTCONEDAR_FMU.libs
Test_DTCONEDAR_FMU.log
Test_DTCONEDAR_FMU.makefile
Test_DTCONEDAR_info.json
Test_DTCONEDAR.log